<div class="uk-flex-center" uk-grid>
  <div class="uk-width-1-3@m uk-width-1-2@s">
    <p class="uk-text-center uk-margin-large-top uk-margin-medium-bottom">
      <span class="uk-icon" uk-icon="icon: logo-color-dark; ratio: 0.7"></span>
    </p>
    <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small">
      <h3 class="uk-card-title">Recuperar senha</h3>
      <div class="uk-margin">
        <input
          type="email"
          class="uk-input uk-form-large"
          placeholder="E-mail"
        />
      </div>

      <div class="uk-margin uk-text-center">
        <a href="/login" class="uk-button uk-button-default">Recuperar</a>
      </div>
    </div>
    <p class="uk-text-center">
      <a href="/login" class="uk-button uk-button-link"> Logar-se </a>
    </p>
  </div>
</div>
